<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Podcast Postings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/debug.css"> -->
</head>
<body>
    <nav class="navbar mb-5 is-spaced is-light has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4 has-text-weight-bold" href="/dashboard">Podcast Postings</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item" href="/review/new">
                Add New Review
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    Categories
                    </a>
        
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/reviews/Arts">
                        Arts
                        </a>
                        <a class="navbar-item" href="/reviews/Business">
                        Business
                        </a>
                        <a class="navbar-item" href="/reviews/Comedy">
                        Comedy
                        </a>
                        <a class="navbar-item" href="/reviews/Education">
                        Education
                        </a>
                        <a class="navbar-item" href="/reviews/Fiction">
                        Fiction
                        </a>
                        <a class="navbar-item" href="/reviews/Fitness">
                        Fitness
                        </a>
                        <a class="navbar-item" href="/reviews/Family">
                        Family
                        </a>
                        <a class="navbar-item" href="/reviews/News">
                        News
                        </a>
                        <a class="navbar-item" href="/reviews/Culture">
                        Culture
                        </a>
                        <a class="navbar-item" href="/reviews/Sports">
                        Sports
                        </a>
                        <a class="navbar-item" href="/reviews/Crime">
                        Crime
                        </a>
                        <a class="navbar-item" href="/reviews/Shows">
                        Shows
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="mr-4 is-size-5 has-text-weight-dark">Welcome, {{member.first_name}}</div>
                    <div class="buttons">
                        <a class="button is-dark has-text-danger-light" href="/logout">
                        Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h4 class="title level-item has-text-centered">Want to check out a new podcast? <a href="/listen" class="button is-info mx-2">Click Here</a></h4>
        <h4 class="title ">Here are all of the reviews:</h4>
        <div class="table-container">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr class="th is-selected has-background-dark has-text-info">
                        <th>Review Title</th>
                        <th>Podcast Name</th>
                        <th>Category</th>
                        <th>Host</th>
                        <th>Stars</th>
                        <th>Added By</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <td><a href="/review/{{review.id}}" class="btn btn-info">{{review.review_title}}</a></td>
                        <td><a href="/reviews/{{review.podcast_name}}" class="btn btn-info">{{review.podcast_name}}</a></td>
                        <td><a href="/reviews/{{review.category}}" class="btn btn-info">{{review.category}}</a></td>
                        <td><a href="/reviews/{{review.host}}" class="btn btn-info">{{review.host}}</a></td>
                        <td><a href="/reviews/{{review.stars}}" class="btn btn-info">{{review.stars}}</a></td>
                        <td><a href="/member/{{review.member_id}}" class="btn btn-info">{{review.creator.first_name}} {{review.creator.last_name}}</a></td>
                        <td>
                            <a href="/review/{{review.id}}" class="btn btn-info">View</a>
                            {% if review.member_id == session.member_id%}
                            <a href="/review/edit/{{review.id}}" class="btn btn-info">Edit</a>
                            <a href="/review/destroy/{{review.id}}" class="btn btn-info">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>