<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/debug.css"> -->
</head>
<body>
    <nav class="navbar mb-5 is-spaced is-light has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-5 has-text-weight-dark" href="/dashboard">Podcast Postings</a>
            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-light" href="/dashboard">
                Dashboard
                </a>

                <a class="navbar-item" href="/review/new">
                Add New Review
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    Categories
                    </a>
        
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/reviews/Arts">
                        Arts
                        </a>
                        <a class="navbar-item" href="/reviews/Business">
                        Business
                        </a>
                        <a class="navbar-item" href="/reviews/Comedy">
                        Comedy
                        </a>
                        <a class="navbar-item" href="/reviews/Education">
                        Education
                        </a>
                        <a class="navbar-item" href="/reviews/Fiction">
                        Fiction
                        </a>
                        <a class="navbar-item" href="/reviews/Fitness">
                        Fitness
                        </a>
                        <a class="navbar-item" href="/reviews/Family">
                        Family
                        </a>
                        <a class="navbar-item" href="/reviews/News">
                        News
                        </a>
                        <a class="navbar-item" href="/reviews/Culture">
                        Culture
                        </a>
                        <a class="navbar-item" href="/reviews/Sports">
                        Sports
                        </a>
                        <a class="navbar-item" href="/reviews/Crime">
                        Crime
                        </a>
                        <a class="navbar-item" href="/reviews/Shows">
                        Shows
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="mr-4 is-size-5 has-text-weight-dark">Welcome, {{member.first_name}}</div>
                    <div class="buttons">
                        <a class="button is-dark" href="/logout">
                        Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
            <div class="box">
                <div class="card">
                    <div class="card-content">
                        <h2 class="is-size-1 has-text-weight-medium mb-3">Check Out This Podcast!</h2>
                        <h4 class="is-size-3 has-text-weight-medium mb-3">Want to leave a review for it?</h4>
                        <p class="block is-size-4"><a href="/review/new" class="btn btn-info">Click Here</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth"></div>
    </div>
</body>
</html>