<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/debug.css"></head> -->
<body>
    <nav class="navbar mb-5 is-spaced is-light has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-5 has-text-weight-dark" href="/dashboard">Grandma's Kitchen</a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-light" href="/dashboard">
                Dashboard
                </a>

                <a class="navbar-item" href="/recipe/new">
                Add New Recipe
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    Categories
                    </a>
        
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/recipes/Breakfast">
                        Breakfast
                        </a>
                        <a class="navbar-item" href="/recipes/Lunch">
                        Lunch
                        </a>
                        <a class="navbar-item" href="/recipes/Dinner">
                        Dinner
                        </a>
                        <a class="navbar-item" href="/recipes/Side_App">
                        Side/App
                        </a>
                        <a class="navbar-item" href="/recipes/Snack">
                        Snack
                        </a>
                        <a class="navbar-item" href="/recipes/Dessert">
                        Dessert
                        </a>
                        <a class="navbar-item" href="/recipes/Drink">
                        Drink
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="mr-4 is-size-5 has-text-weight-dark">Welcome, {{member.first_name}}</div>
                    <div class="buttons">
                        <a class="button is-dark" href="/logout">
                        Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
            <div class="box">
                <div class="card">
                    <div class="card-content">
                        <h2 class="is-size-1 has-text-weight-medium mb-3">{{recipe.name}}</h2>
                        <p class="block is-size-4">Category:  {{recipe.category}}</p>
                        <p class="block is-size-4">Under 30 Minutes:
                            {%  if recipe.under_30 == 1 %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </p>
                        <p class="block is-size-4">Ingredients:  {{recipe.ingredients}}</p>
                        <p class="block is-size-4">Instructions:  {{recipe.instructions}}</p>
                        <p class="block is-size-4">Added By:  {{recipe.creator.first_name}} {{recipe.creator.last_name}}</p>
                        {% if recipe.member_id == session.member_id%}
                        <p><a href="/recipe/edit/{{recipe.id}}" class="button is-link">Edit Recipe</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth"></div>
    </div>
</body>
</html>